*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

html,body{
    display: flex;
    gap: 10px;
    scroll-behavior: smooth;
}

nav > ul > li {
    display: inline;
    margin: 0 80px 0 80px;
}

nav{
    padding: 20px;
    text-align: center;
    background-color: rgba(30, 210, 210, 0.596);
    border-radius: 5px;
    background-image: url(../img/development-with-abstract-background.jpg);
    background-position-x: 90px;
}

nav > ul > li > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.aside-header{
    height: 100vh;
    border-right: 2px solid rgb(255, 249, 249);
    position: sticky;
    background-image: url(../img/development-with-abstract-background.jpg);
    background-size: cover;
    background-position-x: 150px;
    
}

.aside-header ul li{
    padding: 20px;
    list-style: none;
    border-bottom: 2px solid #fff3f3;
    text-align: center;
}

.aside-header > h2{
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}

section{
    background-image: url(../img/image3.png);  
    color: rgb(255, 255, 255);
    background-color: rgb(90, 79, 79);
    background-blend-mode: multiply;
    border: 2px solid rgba(255, 184, 137, 0.849);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 5px 5px rgba(255, 191, 95,40%);
    margin-top: 30px;
}
section h2{
    text-align: center;
    
}

section p{
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

.aside-header ul a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

h2{
    padding: 30px;
}

.aside-header ul a li:hover{
    background: #ccc;
    transition: 0.3s ease-in-out;
}

#css{
    background-image: url(../img/development-with-abstract-background.jpg);
    background-size: cover;
}

#java{
    background-image: url(../img/michael-baccin-XopauR-Nagk-unsplash.jpg);
    background-size: cover;
}

.aside-header{
    position: sticky;
    top: 0;
    scroll-behavior: smooth;
}

#c {
    background-image: url(../img/banner.png);   
    background-size: cover; 
}

#php{
    background-image: url(../img/long-card.png);
    background-size: cover;
}

main{
    top: 0;
}

