*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h3{
    font-size: 30px;
    text-decoration: line-through;
    margin-bottom: 30px;
    text-align: center;
}

.blog{
    margin: 20px;
    padding: 20px;
    border: 2px solid goldenrod;
    text-align: center;
    border-radius: 5px;
}

ol{
  margin: 20px;
  padding: 20px; 
  border: 3px solid silver;
  border-radius: calc(5px ,6px, 7px);
}